Repository konflux-ci/olm-operator-konflux-sample: changes, and which Tekton pipelines are due for each by the changed paths.
All: gatekeeper-fbc-v413-on-pull-request, gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Path conditions:
  gatekeeper-fbc-v413-on-pull-request: ((any of: v4.13/***) or (any of: .tekton/gatekeeper-fbc-v413-pull-request.yaml)) or (any of: Containerfile.catalog)
  gatekeeper-operator-bundle-on-pull-request: ((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-bundle-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-bundle-push.yaml)) or (any of: Containerfile.gatekeeper-operator-bundle)) or (any of: gatekeeper-operator)
  gatekeeper-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-push.yaml)) or (any of: Containerfile.gatekeeper-operator)) or (any of: gatekeeper-operator)
  gatekeeper-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: Containerfile.gatekeeper)) or (any of: gatekeeper)
  gatekeeper-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: Containerfile.gatekeeper)) or (any of: gatekeeper)

test source build with double quoted image
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request

test source build without quoted image
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request

test new task
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
Due: gatekeeper-fbc-v413-on-pull-request

remove java dependencies
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request

test tasks to enable docker mediatype
  .tekton/gatekeeper-pull-request.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

enable automerge
  renovate.json
Due: none

Konflux build pipeline service account migration for gatekeeper Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
Due: gatekeeper-on-pull-request, gatekeeper-on-push

Konflux build pipeline service account migration for gatekeeper-fbc-v413 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
Due: gatekeeper-fbc-v413-on-pull-request

Konflux build pipeline service account migration for gatekeeper-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
Due: gatekeeper-operator-on-push

Konflux build pipeline service account migration for gatekeeper-operator-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-push.yaml
Due: gatekeeper-operator-bundle-on-pull-request

Update Konflux references
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-fbc-v413-on-pull-request, gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

dummy pr
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/olm-operator-konflux-sample.iml
  .idea/vcs.xml
  README.md
Due: none

dummy pr
  README.md
Due: none

Remove bundle labels in the catalog containerfile
  v4.13/Containerfile.catalog
Due: gatekeeper-fbc-v413-on-pull-request

Add a note for generating catalogs using FBC templates
  docs/konflux-onboarding.md
Due: none

Konflux Staging update olm-operator-konflux-sample
  .tekton/olm-operator-konflux-sample-pull-request.yaml
  .tekton/olm-operator-konflux-sample-push.yaml
Due: none

Add linux/arm64 platform to build platforms
  .tekton/olm-operator-konflux-sample-pull-request.yaml
Due: none

matrix with displayname
  .tekton/olm-operator-konflux-sample-pull-request.yaml
Due: none

add more custom tasks
  .tekton/olm-operator-konflux-sample-pull-request.yaml
Due: none

remove image-url dependency
  .tekton/olm-operator-konflux-sample-pull-request.yaml
Due: none

Add documentation for building catalog.json inside fbc-builder pipeline using run-opm-command task.
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
  .tekton/images-mirror-set.yaml
  docs/konflux-building-catalog.md
  docs/konflux-onboarding.md
  v4.13/catalog-template.json
  v4.13/catalog/gatekeeper-operator/catalog.json
Due: gatekeeper-fbc-v413-on-pull-request

Add private repo info
  docs/konflux-onboarding.md
Due: none

Adding example of using variables to set additional opm arguments
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
  docs/konflux-building-catalog.md
Due: gatekeeper-fbc-v413-on-pull-request

Update images-mirror-set.yaml example
  .tekton/images-mirror-set.yaml
  v4.13/catalog-template.json
Due: gatekeeper-fbc-v413-on-pull-request

Update private FBC info
  docs/konflux-onboarding.md
Due: none

Update docs/konflux-onboarding.md
  docs/konflux-onboarding.md
Due: none

Red Hat Konflux update olm-operator-konflux-sample-operator
  .tekton/olm-operator-konflux-sample-operator-pull-request.yaml
  .tekton/olm-operator-konflux-sample-operator-push.yaml
Due: none

Red Hat Konflux update olm-operator-konflux-sample-bundle
  .tekton/olm-operator-konflux-sample-bundle-pull-request.yaml
  .tekton/olm-operator-konflux-sample-bundle-push.yaml
Due: none

Red Hat Konflux update olm-operator-konflux-sample-gatekeeper
  .tekton/olm-operator-konflux-sample-gatekeeper-pull-request.yaml
  .tekton/olm-operator-konflux-sample-gatekeeper-push.yaml
Due: none

Red Hat Konflux purge olm-operator-konflux-sample-bundle
  .tekton/olm-operator-konflux-sample-bundle-pull-request.yaml
  .tekton/olm-operator-konflux-sample-bundle-push.yaml
Due: none

Red Hat Konflux purge olm-operator-konflux-sample-gatekeeper
  .tekton/olm-operator-konflux-sample-gatekeeper-pull-request.yaml
  .tekton/olm-operator-konflux-sample-gatekeeper-push.yaml
Due: none

Red Hat Konflux purge olm-operator-konflux-sample-operator
  .tekton/olm-operator-konflux-sample-operator-pull-request.yaml
  .tekton/olm-operator-konflux-sample-operator-push.yaml
Due: none

Red Hat Konflux update gatekeeper
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
Due: gatekeeper-on-pull-request, gatekeeper-on-push

Red Hat Konflux update gatekeeper-operator
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
Due: gatekeeper-operator-on-push

Red Hat Konflux update gatekeeper-operator-bundle
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-push.yaml
Due: gatekeeper-operator-bundle-on-pull-request
