Repository konflux-ci/olm-operator-konflux-sample: changes, and which Tekton pipelines are due for each by the changed paths.
All: gatekeeper-fbc-v413-on-pull-request, gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-bundle-on-push, gatekeeper-operator-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

gatekeeper-fbc-v413-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/gatekeeper-fbc-v413/gatekeeper-fbc-v413:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator-bundle:{{revision}}
  - name: dockerfile
    value: Containerfile.gatekeeper-operator-bundle
  ...

gatekeeper-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator:{{revision}}
  - name: dockerfile
    value: Containerfile.gatekeeper-operator
  - name: platforms
  ...

gatekeeper-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper:{{revision}}
  - name: dockerfile
    value: Containerfile.gatekeeper
  - name: path-context
    value: .
  ...

Red Hat Konflux update gatekeeper-fbc-v413
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
Due: gatekeeper-fbc-v413-on-pull-request

Red Hat Konflux purge gatekeeper-fbc-v413
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
Due: gatekeeper-fbc-v413-on-pull-request

Add the konflux pipeline for fbc
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
Due: gatekeeper-fbc-v413-on-pull-request

Remove obsolete init.results.build gating from pipelines
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-fbc-v413-on-pull-request, gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-bundle-on-push, gatekeeper-operator-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Modernize gatekeeper operator from 3.15 to 3.21
  .gitmodules
  Containerfile.gatekeeper
  Containerfile.gatekeeper-operator
  Containerfile.gatekeeper-operator-bundle
  bundle-hack/update_bundle.sh
  drift-cache/gatekeeper-operator/Dockerfile
  drift-cache/gatekeeper/Dockerfile
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-bundle-on-push, gatekeeper-operator-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Add lint configuration and fix lint errors
  .github/workflows/ci-lint.yml
  .gitignore
  .hadolint.yaml
  .shellcheckrc
  .yamllint
  bundle-hack/update_bundle.sh
  tox.ini
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-bundle-on-push

Add connected FBC for OCP 4.22
  .tekton/fbc-build-pipeline.yaml
  .tekton/gatekeeper-fbc-v422-pull-request.yaml
  .tekton/gatekeeper-fbc-v422-push.yaml
  docs/konflux-building-catalog.md
  docs/konflux-onboarding.md
  v4.22/Containerfile.catalog
  v4.22/catalog-template.yaml
Due: none

Always run gatekeeper-fbc-v422 push pipeline for changes in main
  .tekton/gatekeeper-fbc-v422-push.yaml
Due: none

Add SECURITY.md for CRA
  SECURITY.md
Due: none

Build FBC fragment for additional architectures
  .tekton/gatekeeper-fbc-v422-pull-request.yaml
  .tekton/gatekeeper-fbc-v422-push.yaml
Due: none

chore: harden builds — enable hermetic mode, pin deps, scope Renovate, add Scorecard
  .github/workflows/scorecard.yml
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-push.yaml
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Containerfile.gatekeeper-operator
  Containerfile.gatekeeper-operator-bundle
  README.md
  bundle-hack/update_bundle.sh
  renovate.json
  requirements.txt
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-bundle-on-push, gatekeeper-operator-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

chore: harden builds — enable hermetic mode, pin deps, scope Renovate, add Scorecard
  .github/workflows/scorecard.yml
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-push.yaml
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  Containerfile.gatekeeper
  Containerfile.gatekeeper-operator
  Containerfile.gatekeeper-operator-bundle
  README.md
  bundle-hack/update_bundle.sh
  renovate.json
  requirements.txt
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-bundle-on-push, gatekeeper-operator-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Path conditions:
  gatekeeper-fbc-v413-on-pull-request: ((any of: v4.13/***) or (any of: .tekton/gatekeeper-fbc-v413-pull-request.yaml)) or (any of: Containerfile.catalog)
  gatekeeper-operator-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-bundle-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-bundle-push.yaml)) or (any of: Containerfile.gatekeeper-operator-bundle)) or (any of: gatekeeper-operator)) or (any of: bundle-hack/***)
  gatekeeper-operator-bundle-on-push: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-bundle-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-bundle-push.yaml)) or (any of: Containerfile.gatekeeper-operator-bundle)) or (any of: gatekeeper-operator)) or (any of: bundle-hack/***)
  gatekeeper-operator-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-push.yaml)) or (any of: Containerfile.gatekeeper-operator)) or (any of: gatekeeper-operator)
  gatekeeper-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-push.yaml)) or (any of: Containerfile.gatekeeper-operator)) or (any of: gatekeeper-operator)
  gatekeeper-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: Containerfile.gatekeeper)) or (any of: gatekeeper)
  gatekeeper-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: Containerfile.gatekeeper)) or (any of: gatekeeper)
