Repository konflux-ci/olm-operator-konflux-sample: changes, and which Tekton pipelines are due for each by the changed paths.
All: gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

gatekeeper-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator:{{revision}}
  - name: dockerfile
    value: Containerfile.gatekeeper-operator
  - name: platforms
  ...

gatekeeper-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper:{{revision}}
  - name: dockerfile
    value: Containerfile.gatekeeper
  pipelineRef:
  ...

describe the process for initially creating FBC repo
  .gitignore
  docs/konflux-onboarding.md
  v4.13/catalog-template.json
  v4.13/catalog.Containerfile
  v4.13/catalog/gatekeeper-operator/catalog.json
Due: none

Red Hat Konflux update gatekeeper-fbc-v413 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
Due: none

Update gatekeeper-operator to 995f8a9
  bundle-hack/update_bundle.sh
Due: none

Update gatekeeper to 3d34eae
  bundle-hack/update_bundle.sh
Due: none

can results be shared between task steps
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Update FBC fragment with the latest bundle build
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
  docs/konflux-onboarding.md
  v4.13/Containerfile.catalog
  v4.13/catalog-template.json
  v4.13/catalog/gatekeeper-operator/catalog.json
Due: none

Red Hat Konflux update catalog Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: none

explicitly call out multiple templates
  docs/konflux-onboarding.md
Due: none

Change build pipeline to use multi-arch matrix builds
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-fbc-v413-push.yaml
Due: none

add doc snippet for converting fbc to multi-arch
  docs/konflux-onboarding.md
Due: none

Update gatekeeper to 1c2fead
  bundle-hack/update_bundle.sh
Due: none

Update gatekeeper-operator to 9539680
  bundle-hack/update_bundle.sh
Due: none

Increase platforms built only for push events
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
Due: gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Extract multi-platform Tekton Pipeline
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Red Hat Konflux update gatekeeper Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
Due: gatekeeper-on-pull-request, gatekeeper-on-push

update multi-arch pipeline documentation
  docs/functionality-demonstrated.md
  docs/konflux-onboarding.md
Due: none

Add drift protection
  .gitmodules
  Containerfile.gatekeeper
  Containerfile.gatekeeper-operator
  docs/functionality-demonstrated.md
  docs/konflux-onboarding.md
  drift-cache/gatekeeper-operator/Dockerfile
  drift-cache/gatekeeper/Dockerfile
Due: gatekeeper-operator-on-push, gatekeeper-on-push

Simulate drift between the cached and submodule references
  drift-cache/gatekeeper/Dockerfile
Due: none

Resolving the drift simulation
  drift-cache/gatekeeper/Dockerfile
Due: none

Add renovate configuration
  docs/functionality-demonstrated.md
  docs/konflux-onboarding.md
  renovate.json
Due: none

Add note on renovate config validation
  docs/konflux-onboarding.md
Due: none

add notes about directory vs submodule on-cel filter
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-push.yaml
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  docs/functionality-demonstrated.md
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-operator-on-push, gatekeeper-on-pull-request, gatekeeper-on-push

Modify update_bundle.sh to add spec.relatedImages
  Containerfile.gatekeeper-operator-bundle
  bundle-hack/update_bundle.sh
  docs/konflux-onboarding.md
Due: gatekeeper-operator-bundle-on-pull-request

Update the catalog
  .tekton/gatekeeper-fbc-v413-push.yaml
  docs/konflux-onboarding.md
  v4.13/catalog-template.json
  v4.13/catalog/gatekeeper-operator/catalog.json
Due: none

disable renovate from updating the parent images for FBC catalogs
  renovate.json
Due: none

Fix markup and grammar
  docs/konflux-onboarding.md
Due: none

Update konflux-onboarding.md - improve flow a little
  docs/konflux-onboarding.md
Due: none

test new task
  .tekton/gatekeeper-fbc-v413-pull-request.yaml
Due: none

add space
  docs/konflux-onboarding.md
Due: none

Update konflux-onboarding.md - add note about --migrate-level=bundle-object-to-csv-metadata and bump examples to 4.17 (instead of 4.13)
  docs/konflux-onboarding.md
Due: none

Update docs/konflux-onboarding.md
  docs/konflux-onboarding.md
Due: none

Update konflux-onboarding.md - back to EOL 4.13
  docs/konflux-onboarding.md
Due: none

Path conditions:
  gatekeeper-operator-bundle-on-pull-request: ((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-bundle-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-bundle-push.yaml)) or (any of: Containerfile.gatekeeper-operator-bundle)) or (any of: gatekeeper-operator)
  gatekeeper-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-push.yaml)) or (any of: Containerfile.gatekeeper-operator)) or (any of: gatekeeper-operator)
  gatekeeper-on-pull-request: (((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: gatekeeper)
  gatekeeper-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: Containerfile.gatekeeper)) or (any of: gatekeeper)
