Repository konflux-ci/olm-operator-konflux-sample: changes, and which Tekton pipelines are due for each by the changed paths.
All: gatekeeper-operator-bundle-on-pull-request, gatekeeper-on-pull-request

gatekeeper-operator-bundle-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper-operator-bundle:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

gatekeeper-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/konflux-samples-tenant/olm-operator/gatekeeper:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Update the single-arch buildah task
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request

Update the README to introduce readers to the repo and Konflux
  README.md
Due: none

Move all bundle references to konflux-ci org
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request

The index image generation was being skipped
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

Update README with the latest knowledge
  README.md
Due: none

Initial commit to modify bundle content
  .tekton/gatekeeper-operator-bundle-pull-request.yaml
  .tekton/gatekeeper-operator-bundle-push.yaml
  Containerfile.gatekeeper-operator-bundle
  bundle-hack/update_bundle.sh
Due: gatekeeper-operator-bundle-on-pull-request

Add note about fixing the multi-arch builds
  README.md
Due: none

Pin submodules to a specific branch
  .gitmodules
Due: none

Configure component nudge files
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-push.yaml
  README.md
Due: gatekeeper-on-pull-request

Update gatekeeper-operator to 53656fb
  bundle-hack/update_bundle.sh
Due: none

Update gatekeeper to 469c229
  bundle-hack/update_bundle.sh
Due: none

Record examples of component nudging PRs
  README.md
Due: none

trigger component rebuilds to test merge conflicts
  .tekton/multi-arch-build-pipeline.yaml
  bundle-hack/update_bundle.sh
Due: gatekeeper-on-pull-request

Update gatekeeper-operator to a387f0d
  bundle-hack/update_bundle.sh
Due: none

Update gatekeeper to 42b4ff1
  bundle-hack/update_bundle.sh
Due: none

add information about mainaining the bundle CSV
  README.md
Due: none

Restructure markdown files
  README.md
  docs/functionality-demonstrated.md
  docs/konflux-onboarding.md
Due: none

Initial placeholder content for FBC fragments
  README.md
  docs/functionality-demonstrated.md
  docs/konflux-onboarding.md
Due: none

update buildah tasks to v0.2
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-on-pull-request

test matrix builds
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

test matrix params and include
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-on-pull-request

miscellaneous tekton fixes
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: gatekeeper-operator-bundle-on-pull-request, gatekeeper-on-pull-request

Update gatekeeper to 2cc3532
  bundle-hack/update_bundle.sh
Due: none

Update gatekeeper-operator to da3c859
  bundle-hack/update_bundle.sh
Due: none

add additional details to docs
  README.md
  docs/konflux-onboarding.md
Due: none

remove unused parameters from pipelineruns
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
Due: gatekeeper-on-pull-request

Update gatekeeper-operator to aa395ed
  bundle-hack/update_bundle.sh
Due: none

Update gatekeeper to ac0c94d
  bundle-hack/update_bundle.sh
Due: none

add information about maintaining the released references in the CSV
  docs/konflux-onboarding.md
Due: none

Decrease image expiration for gatekeeper PRs
  .tekton/gatekeeper-pull-request.yaml
Due: gatekeeper-on-pull-request

Update gatekeeper to 4632bc3
  bundle-hack/update_bundle.sh
Due: none

location of nudging with RPA docs moved
  docs/konflux-onboarding.md
Due: none

Use matrix
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

Parameterize platforms to build
  .tekton/gatekeeper-operator-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

matrix builds cannot work like I had hoped
  .tekton/gatekeeper-operator-pull-request.yaml
  .tekton/gatekeeper-operator-push.yaml
  .tekton/gatekeeper-pull-request.yaml
  .tekton/gatekeeper-push.yaml
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

Change remote builds to use a matrix
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

test matrix without local
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

attempt to generate provenance for all matrix images
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

can we pass platform as an array?
  .tekton/multi-arch-build-pipeline.yaml
Due: gatekeeper-on-pull-request

Path conditions:
  gatekeeper-operator-bundle-on-pull-request: ((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-operator-bundle-pull-request.yaml)) or (any of: .tekton/gatekeeper-operator-bundle-push.yaml)) or (any of: Containerfile.gatekeeper-operator-bundle)) or (any of: gatekeeper-operator)
  gatekeeper-on-pull-request: (((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/gatekeeper-pull-request.yaml)) or (any of: .tekton/gatekeeper-push.yaml)) or (any of: gatekeeper)
